<div class="container">
<h4>Sign in</h4>
<% if @errors %>
  <div id="error_explanation">
    <p>
      <img src="http://i.imgur.com/65goE8v.gif">
      <%= pluralize(@errors.count, "error") %> prohibited this account from logging in:
    </p>
    <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :session, url: sessions_path do |f| %>
<div class="input-field col s6">
  <i class="material-icons prefix">email</i>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <p>
       <%= button_tag( :class => 'btn btn-default green darken-2') do %>Sign In<%end%>
  </p>
<% end %>
</div>
