<h2>Sign in</h2>
<% if @errors %>
  <div id="error_explanation">
    <p>
      <img src="http://i.imgur.com/65goE8v.gif">
      <%= pluralize(@errors.count, "error") %> prohibited this account from logging in:
    </p>
    <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :session, url: sessions_path do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Sign In" %>
  </p>
<% end %>
