<div class="movie-information">
  <ul>
    <li>Year: <%= @movie.year %></li>
    <li>Rated: <%= @movie.rated %></li>
    <li>Runtime: <%= @movie.runtime %></li>
    <li>Director: <%= @movie.director %></li>
    <li>Writer(s): <%= @movie.writer %></li>
    <li>Actors: <%= @movie.actors %></li>
    <li>Plot: <%= @movie.plot %></li>
  </ul>
</div>
