<div class="container movie-description">
  <p><%= @movie.rated %> | <%= @movie.runtime %> | <%= movie_genre.name%></p>
  <p> <%= @movie.plot %></p>
  <ul>
    <li>Director: <%= @movie.director %></li>
    <li>Writer(s): <%= @movie.writer %></li>
    <li>Actors: <%= @movie.actors %></li>
    <li>Average Rating: <%=@movie.reviews.average(:rating) %></li>
  </ul>

</div>
