<div class="container">
<h4>Sign Up</h4>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <p>
      <img src="http://i.imgur.com/65goE8v.gif">
      <%= pluralize(@user.errors.count, "errors") %> prohibited this account from being saved:
    </p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :user, url: users_path do |f| %>
  <div class="input-field col s6">
    <i class="material-icons prefix">account_circle</i>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
<div class="input-field col s6">
  <i class="material-icons prefix">email
</i>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <p>
     <%= button_tag( :class => 'btn btn-default green darken-2') do %>Submit<%end%>
  </p>
<% end %>
</div>
