
<div class="container">
  Welcome, <%= @user.username.capitalize %>!
</div>



<!-- Favorite movies left side -->
<div class="">

  <div class="">
    Favorite Movies:
    <div class="divider"></div>
  </div>

  <div class="">
    <ul>
      <% @user.favorites.each do |favorite| %>

      <li><i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i> <a href="/movies/<%= favorite.movie_id %>"><%= favorite.movie.title %></a> - <%= favorite.movie.year %></li>
      <% end %>
    </ul>
  </div>

</div>


<!-- Right side partial reviews -->
<div class="">
  <div class="">
    Reviewed Movies:
    <div class="divider"></div>
  </div>

  <div class="">
    <ul>
      <% @user.reviews.each do |review| %>
        <li><a href="/movies/<%= review.movie.id %>/reviews/<%= review.id %>"><%= review.movie.title %></a> - <%= review.rating %>/5</li>
      <% end %>
    </ul>
  </div>
</div>
</div>
