<!DOCTYPE html>
<html>
  <head>
    <title>IMDb Clone</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to "MovieFace 2.0",root_url, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down ">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user)%></li>
            <li><%= link_to "Log Out", session_path(session), method: :delete%></li>
          <% else %>
            <li><%= link_to "Create an Account", new_user_path %></li>
            <li><%= link_to "Log In", new_session_path%></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <form id='randomize' action="/movies/show">
      <input type='text' name='search' placeholder='Movie Title'>
      <input type='submit' value="Search">
    </form>
    <h1>IMDb Clone</h1>
    <%= yield %>
  </body>
</html>
